<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Survey Form</title>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="style.css">
</head>
<body>
    <form action="/" method='get'>
        <h3>Here are the awesome quotes!</h3>
        <div id="scroll"> 
            <% if (users) { %>
                <% Object.keys(users).forEach(function(user){ %>
                    <p><%= users[user].quote %></p>                 
                        <p class="name"> - <%= users[user].name %> at <%= users[user].createdAt %></p>
                    <hr>
                    <% }); %>
            <% }; %>
        </div>
        <a href="/" class="btn btn-primary">Go Back</a>
    </form>
</body>
</html>